<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <div class="container">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li> @Html.ActionLink("Inicio", "Index", "Colegio", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Registro", "Index", "Registro", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container body-content">



        @RenderBody()
        <hr />
        <footer>
            <h4>Para más información escribir a las siguientes redes sociales</h4>
            <br />
            <div class="footer-images">
                <a href="https://www.instagram.com/milagrosk.lp/" target="_blank">
                    <img src="../Imagenes/insta.png" alt="Instagram" width="40" height="40">
                </a>
                <a href="https://www.instagram.com/milagrosk.lp/" target="_blank">
                    <img src="../Imagenes/wats.png" alt="WhatsApp" width="40" height="40">
                </a>
            </div>
            <br />
            <p>&copy; @DateTime.Now.Year - Sheldon's School</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

